{% extends "web/base.html" %}
{% load static %}

{% block main_content %}

    <main>
        <!-- Add Fruit Form -->
        <section id="create">
            <div class="form">
                <h2>Add Fruit</h2>
                <form class="create-form" method="POST" action="{% url 'fruit_create' %}">
                    {% csrf_token %}
                    {{ add_form }}
                    <button type="submit">Add Fruit</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}